body {
  background-image: url(bruce-d-skinner-hilda-4.jpg);
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border-radius: 30px;
  border: 15px double rgb(255, 255, 255);
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(17, 35, 21, 0.692);
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 60px;
  border-radius: 30px;
}

.pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 30px;
  border: 15px double rgb(255, 255, 255);
}

h2{
  color: rgb(255, 255, 255);
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}